anndata==0.8.0
clang==14.0
h5py==3.7.0
jgraph==0.2.1
libclang==14.0.1
numpy==1.22.3
omegaconf==2.2.2
pandas==1.4.2
pronto==2.4.7
pytest==7.1.2
scanpy==1.9.3
scikit_learn==1.2.2
scipy==1.8.1
setuptools==62.3.2
spektral==0.6.1
sphinx_rtd_theme==0.2.4
tensorflow==2.9.1
tensorflow_probability==0.16.0
tqdm==4.64.0
